// Your custom variables

.header span {
    font-family: $secondary-font;
    font-size: 2em;
}
.sidebar main {
    margin-top: 5rem;
}
.masklock {
  backdrop-filter: blur(9px);
  background-color: rgba($black, 0.55);
}

//rounded cards

.card {
  border-radius: .60rem;
}

.modal-bottom {
    position: fixed;
    bottom: 0;
    margin-bottom: 0;
    left: 50%;
    transform: translateX(-50%) !important;
    margin: auto;
    margin-bottom: 0;
    width: fit-content;
    max-width: 100%;
    & .modal-content {
        border-radius: 30px 30px 0 0;
    }

}
.modal.show .modal-side {
    max-width: 75vw;
    transform: translateX(25vw);
}

#addSensorModal {
    animation: modal-frame-open 1s ease 0s 1 normal forwards;
}
@keyframes modal-frame-open {
  0% {
    opacity: 0;
    transform: translateX(250px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

//backgrounds

.custom-bg-aqua {
  background-image: linear-gradient( #1acfbf, $info);
}
.custom-bg-coral {
  background-image: linear-gradient( sandybrown, tomato);
}
.custom-bg-green {
  background-image: linear-gradient( palegreen, mediumaquamarine);
}
.custom-bg-gold {
  background-image: linear-gradient( moccasin, #Ffcc20);
}


.blob {
    position: absolute;
    top: -25%;
    left: -10%;
    fill: #023f92;
    width: 50%;
    z-index: 0;
    //-webkit-animation: shape01 10s ease-in-out infinite;
    //animation: shape01 10s ease-in-out infinite;
}

@include media-breakpoint-up(md) {
  .blob {
    top: -8%;
    left: -8%;
    width: 54%;
  }
}

.animation00 {
  animation: shape00 10s ease-in-out infinite;
}
.animation01 {
  animation: shape01 10s ease-in-out infinite;
}
.animation02 {
  animation: shape02 10s ease-in-out infinite;
}
.animation03 {
  animation: shape03 10s ease-in-out infinite;
}

@keyframes shape00 {
  0%   { transform: scale(0.6); }
  38%  { transform: scale(0.8, 1); }
  40%  { transform: scale(0.8, 1); }
  78%  { transform: scale(1); }
  80%  { transform: scale(1); }
  100% { transform: scale(0.6); }
}

@keyframes shape01 {
  0%   { transform: scale(0.8) rotate(45deg); -webkit-transform: scale(0.8) rotate(45deg); -moz-transform: scale(0.8) rotate(45deg); -ms-transform: scale(0.8) rotate(45deg); -o-transform: scale(0.8) rotate(45deg); }
  40%  { transform: rotate(270deg); -webkit-transform: rotate(270deg); -moz-transform: rotate(270deg); -ms-transform: rotate(270deg); -o-transform: rotate(270deg); }
  78%  { transform: scale(1); }
  80%  { transform: scale(1) rotate(270deg); -webkit-transform: scale(1) rotate(270deg); -moz-transform: scale(1) rotate(270deg); -ms-transform: scale(1) rotate(270deg); -o-transform: scale(1) rotate(270deg);}
  100% { transform: rotate(45deg); -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); }
}

@keyframes shape02 {
  0%   { transform: scale(0.6); }
  38%  { transform: scale(0.8, 1); }
  40%  { transform: scale(0.8, 1); }
  78%  { transform: scale(1); }
  80%  { transform: scale(1); }
  100% { transform: scale(0.6); }
}

@keyframes shape03 {
  0%   { transform: scale(0.8) rotate(45deg); -webkit-transform: scale(0.8) rotate(45deg); -moz-transform: scale(0.8) rotate(45deg); -ms-transform: scale(0.8) rotate(45deg); -o-transform: scale(0.8) rotate(45deg); }
  40%  { transform: rotate(270deg); -webkit-transform: rotate(270deg); -moz-transform: rotate(270deg); -ms-transform: rotate(270deg); -o-transform: rotate(270deg); }
  78%  { transform: scale(1); }
  80%  { transform: scale(1) rotate(270deg); -webkit-transform: scale(1) rotate(270deg); -moz-transform: scale(1) rotate(270deg); -ms-transform: scale(1) rotate(270deg); -o-transform: scale(1) rotate(270deg);}
  100% { transform: rotate(45deg); -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); }
}