// Your custom variables

// Theme colors
$primary:  #30A853;
$secondary: #30323D;
$light: #F5F6FB;
$white: #FFFFFF;
$black: #000000;

$success: #30A853;
$info: #39c0ed ;
$warning: #ffa900;
$danger: #f93154;

$secondary-font: 'Oxygen', sans-serif;
