// Your custom variables

// Theme colors
$primary:  #30A853;
$secondary: #30323D;
$white: #FFFFFF;

$success: #00b74a;
$info: #39c0ed ;
$warning: #ffa900;
$danger: #f93154;


$secondary-font: 'Oxygen', sans-serif;